body{
    margin: 0px;
    padding: 0px;
    background-color: #808080;
}
@media(min-width :320px){
    .container{
        width:320px;
    }
}
@media(min-width :481px){
    .container{
        width:481px;
    }
}
@media(min-width :641px){
    .container{
        width:641px;
    }
}
@media(min-width :768px){
    .container{
        width:768px;
    }
}
@media(min-width :992px){
    .container{
        width:992px;
    }
}
@media(min-width :1200px){
    .container{
        width:1200px;
    }}





.navigation-menu{display:flex;
                 align-items: center;
                 min-height: 65px;
                   background: linear-gradient(250deg,#0063b2ff,#9cc3d5ff ,#0063b2ff ,#9cc3d5ff);
                 
    
}
.navigation-menu li{
    display:inline-block;
}
.navigation-menu a{
    letter-spacing: 2px;
    font-weight:bold;
    text-decoration:underline;
    text-transform: uppercase;
    color:#fff;
    font-size:20px;
    padding: 20px 138px;
    border-radius: 20px;
    transition: 0.6s ease;
    border-right:1px solid #fff;
  
}
.navigation-menu a:hover{
    border:2px solid #fff;
    background-color: #fff;
	color: #23527c;

}
.banner_image{
  padding-bottom: 30px;
  padding-top: 2px;
         margin-bottom: 20px;
          text-align: center;
          color: #f8f8f8;
           background-image: url(final2_1.jpg) ; 
           background-size: cover;
          
           width: 100%;
}

.box{
    background-color: #808080;
    color:#fff;
   text-align: center;
    float:right;
    margin-right:  332.5px;
    margin-bottom: 50px;
    width: 450px;
    height:300px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.box:before{
    content:'';
    position: absolute;
    top:-2px;
    right:-2px;
    left:-2px;
    bottom:-2px;
    background:#fff;
    z-index: -1;
}
.box:after{
    content:'';
    position: absolute;
    top:-2px;
    right:-2px;
    left:-2px;
    bottom:-2px;
    background:#fff;
    z-index: -2;
    filter:blur(40px);
}
.box:before,
.box:after{
    background: linear-gradient(235deg,#ff0000,#060c21,#0000ff,#ff0000);
}
.content{
    padding:20px;
    box-sizing: border-box;
    color:#fff;
}
.image{
    
    margin-left:1%;
    float:left;
     padding-bottom: 10px;
  padding-top: 2px;
         margin-bottom: 30px;
}
.row_style{
    margin-top: 200px;
    margin-left: 375px;
}
footer{
    position:fixed;
     padding: 10px 0;
background-color: #101010;
 color:#9d9d9d;
bottom: 0;
 width: 100%;
}
